.subContainer{
    width: 95%;
    margin: 0 auto; 
}
.greySub{
    background: linear-gradient(rgb(199, 199, 199) 0%, rgb(199, 199, 199) 0.01%, rgb(238, 238, 238) 48.44%, rgb(199, 199, 199) 100%);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
@media only screen and (min-width:780px){
    .subContainer{
        width: 45%;
        margin: 0 auto;
        
    }
}

@media only screen and (min-width:1440px){
    .FAQContainer{
        width: 45%;
        margin: 0 auto;
        
    }
}