.aboutUsPadding{
    padding: 1rem auto 3rem;
}
.aboutUsLive{
    background: url("https://static.namava.ir/Content/Upload/Images/edd8dcfa-e619-4914-8607-55021eaf5a33.jpg") center ;
    background-size: cover;
    padding: 2rem 0 3rem;
}
.aboutUsLiveSvg{
    width: 190px;
    height: 69px; 
}
.aboutUsLiveLink{
    background-color: var(--heroSection-active-color);
    height: auto;
    min-width: 138px;
    padding-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 3px;
}
.aboutUsKids{
    padding: 32px 20px;
    
}
.aboutUsKidsImg{
    width: 320px;
    height: auto; 
}
.aboutUsMoreInfo{
    color: var(--active-color);
}

.aboutUsSubscriptionCard{
    background-color: var(--footer-download-link-bgc);
    border: 1px solid #fff;
    padding: 40px 20px 60px;
    
}
.aboutUsSubcriptionPrice{
    margin: 0 20px;
}
.aboutUsSubcriptionLink{
    background-color: var(--heroSection-active-color);
    width: 320px;
}
.aboutUsSubcriptionLink span{
    padding: 3px 20px;
}
.accordionBorderTop{
    border-top: 1px solid #eee;
    padding-top: 1rem;
}
.accordionBorderTopNone{
    border-top: none;
    padding-top: 1rem;
}
.aboutUsBackUp {
    background-color: var(--light-black);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    padding: 24px 34px;
}
.aboutUsMagCard{
    background-color: var(--light-black);
    padding: 24px 24px 0;
    flex-grow: 1;
}
.aboutUsMagLink{
    background-color: var(--heroSection-active-color);
    height: 32px;
    padding: 6px 17.3px;
}
#namavaMagPic{
    top: 0;
}
@media (min-width: 1280px){
    .aboutUsDisplayOptionsSvg{
        transform: scale(1.64)
    }
    .aboutUsLiveLink{
        height: 52px;
        padding-top: 4.5px;
        padding-bottom: 4.5px;
    }
    .aboutUsKidsImg{
        height: auto;
        min-width: 576px;
    }
    .aboutUsSubscriptionCard{
        padding: 56px 24px 46px;
    }
    .aboutUsSubcriptionLink{
        width: 336px;
    }
    .aboutUsMagCard{
        padding: 40px 40px 0;
    }
    .aboutUsMagLink{
        height: 48px;
        padding: 12px 32px;
    }
}
@media (min-width:768px){
    .aboutUsLiveLink{
        width: 175px;
    }
    .aboutUsKids{
        padding: 40px 32px;
    }
    .aboutUsBackUp{
        padding: 24px 46px;
    }
    .aboutUsMagCard{
        padding: 24px 29px 0;
    }
}