.StarsSlider{
    width: 100px;
}
.starImg{
    height: 5rem;
}

@media only screen and (min-width:576px) {
    .starImg{
        height: 8rem;
    }
}
@media only screen and (min-width:768px) {
    .starImg{
        height: 8rem;
    }
}
@media only screen and (min-width:992px) {
    .starImg{
        height: 12rem;
    }
}