:root{
    --active-color: #6eb8ff;
    --black-color:#000;
    --white-color: #ffffff;
    --light-white-font: #ccc;
    --lighter-white-font:#aaa;
    --green-bgc:#99c14d;
    --grey-bgc:#ffffff33;
    --grey-color-font:#aaaaaa;
    --body-bgc:#121212;
    --light-black: #222327;
    --footer-download-link-bgc:#37383e;
    --footer-bgc-black:#1A1A1A;
    --footer-media-blue:#005fb4;
}

.dark-cover{
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
}
.header{
    height: 80px;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: top .5s, box-shadow .5s, background-color 1s;
    -webkit-transition: top .5s, box-shadow .5s, background-color 1s;
    -o-transition: top .5s, box-shadow .5s, background-color 1s;
    -moz-transition: top .5s, box-shadow .5s, background-color 1s;
    -ms-transition: top .5s, box-shadow .5s, background-color 1s;
    background-color: rgba(18,18,18,0);
    background-image: linear-gradient(to bottom, rgba(18,18,18,1), rgba(18,18,18,0));
    -webkit-background-image: linear-gradient(to bottom, rgba(18,18,18,1), rgba(18,18,18,0));
    -moz-background-image: linear-gradient(to bottom, rgba(18,18,18,1), rgba(18,18,18,0));  
    -ms-background-image: linear-gradient(to bottom, rgba(18,18,18,1), rgba(18,18,18,0));
    -o-background-image: linear-gradient(to bottom, rgba(18,18,18,1), rgba(18,18,18,0));
}
.header .container, .header .container .d-flex {
    height: 80px;
}
.header a{
    color: var(--white-color);
}
.menu a ,.sideMenu a{
    color: var(--white-color);
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
}
.header .menuSubscription{
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
}
.menu a:hover , .sideMenu a:hover ,.header .menuSubscription:hover{
    color: var(--active-color);
}

.header .signIn{
    border: 1px solid var(--white-color);
    padding: 0 10px;
    line-height: 36px;
}
.header .signIn:hover{
    border: 1px solid var(--black-color);
    background-color: #fff;
    color: var(--black-color);

}
.sideMenu button{
    padding: 0;
}
.sideMenu{
    width: 250px;
    height: 100%;
    transition: fill .6s ease;
    -webkit-transition: fill .6s ease;
    -o-transition: fill .6s ease;
    -moz-transition: fill .6s ease;
    -ms-transition: fill .6s ease;
}
.sideMenu .w-100{
    padding: 0 24px;
}
.sideMenu .menuItemImg:hover{
    fill: var(--active-color);
}


/*media queries*/
@media only screen and (max-width: 576px){
    .menuItemImg{
        width: 30px;
        height: 30px;
    }
    .signInImg{
        display: inline-block;
        width: 30px;
        height: 30px;
    }
    .sideMenu{
        background: var(--light-black);
        right: -150%;
    }
    .hamburgerMenu{
        background: transparent;
    }
}

@media only screen and (min-width: 576px) {
    .menuItemImg{
        width: 30px;
        height: 30px;
    }
    .signInImg{
        display: inline-block;
    }
    
    .sideMenu{
        background: var(--light-black);
        right: -150%;
    }
    .hamburgerMenu{
        display: block;
        background: transparent;
    }
}

@media only screen and (min-width: 768px) {
    .signInImg{
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .hamburgerMenu{
        display: none;
    }
    .sideMenu{
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
}