.movieSlider{
    transition: all .3s ease;
}
.movieSliderLink .darkMovieCover{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9));
    opacity: 0;
    transition: opacity .3s ease ;
    padding: 1rem;
    transform: scaleY(0.98);
    margin-top: -.1769rem;
}
.movieSliderLink:hover .darkMovieCover{
    opacity: 1 ;
    
}
.darkMovieCover div p{
    margin-right: .1rem
}
.selected {
    transform: translateY(1rem);
}
.hideInfoButton{
    width: 5rem;
    height: 4px;
    background-color: var(--grey-color-font);
}