.heroSectionSlider .movieSlider{
  background-repeat: no-repeat;
}
.heroSectionSlider{
  height: auto;
}
.heroSectionInfo{
  padding-top: 7rem;
}
.heroSectionSlider.mySwiper  .swiper-button-prev, .heroSectionSlider.mySwiper .swiper-button-next{
  color: rgba(255, 255, 255, .3);
  background-color: rgba(255, 255, 255, .3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 75% !important;
  
}
.heroSectionSlider.mySwiper  .swiper-button-prev:hover, .heroSectionSlider.mySwiper .swiper-button-next:hover{
  color: var(--white-color);
  
}
.heroSectionSlider.mySwiper  .swiper-button-prev::after, .heroSectionSlider.mySwiper .swiper-button-next::after{
  font-size: .9rem;
  font-weight: bolder;
}

.heroSectionSlider .swiper-pagination-bullet{
  background: var(--light-white-font) !important;
}
.heroSectionSlider .swiper-pagination-bullet-active {
  background:  var(--white-color) !important;
}


@media only screen and (max-width:576px){
  .heroSectionSlider .movieSlider{
    background-size: cover;
    background-position: center top;
  }
  .heroSectionSlider{
    height: 65vh;
  }
  .heroSectionInfo{
    padding-top: 30vh
  }
  .heroSectionSlider.mySwiper  .swiper-button-prev, .heroSectionSlider.mySwiper .swiper-button-next ,
  .heroSectionSlider.mySwiper  .swiper-button-prev::after, .heroSectionSlider.mySwiper .swiper-button-next::after{
    display :none !important;
  }
  .swiper-pagination{
    display: block;
  }

}
@media only screen and (min-width:576px){
  .heroSectionSlider{
    height: 60vh;
  }
  .heroSectionSlider .movieSlider{
    background-size: contain;
  }
  .heroSectionSlider.mySwiper  .swiper-button-prev, .heroSectionSlider.mySwiper .swiper-button-next ,
  .heroSectionSlider.mySwiper  .swiper-button-prev::after, .heroSectionSlider.mySwiper .swiper-button-next::after{
    display :none !important;
  }
  .swiper-pagination{
    display: block;
  }
}
@media only screen and (min-width:768px){
  .heroSectionInfo{
    padding-top: 4.5rem;
  }
  .heroSectionSlider .movieSlider{
    background-position: left top;
    background-size: cover;
  }
}
@media only screen and (min-width:992px){
  .heroSectionSlider {
    margin-bottom: -6.03125vw;
  }
  .heroSectionSlider.mySwiper  .swiper-button-prev{
    right: 87% !important;
  }
  .heroSectionSlider.mySwiper .swiper-button-next{
    left: 4%;
  }
  .swiper-pagination{
    display: none;
  }
  .heroSectionSlider.mySwiper  .swiper-button-prev, .heroSectionSlider.mySwiper .swiper-button-next {
    display :flex !important;
  }
  .heroSectionSlider.mySwiper  .swiper-button-prev::after, .heroSectionSlider.mySwiper .swiper-button-next::after {
    display :flex !important;
  }
  
}

@media only screen and (min-width:1280px){
  .heroSectionSlider{
    min-height: 46.875vw;
    margin-bottom: -7.03125vw;
  }
  .heroSectionSlider .movieSlider{
    background-size: cover;
  }
  .heroSectionInfo{
    padding-top: 7rem;
  }
  
}
@media only screen and (min-width: 1440px){
  
  .heroSectionSlider.mySwiper  .swiper-button-prev, .heroSectionSlider.mySwiper .swiper-button-next{
    top: 80% !important;
  }
  .heroSectionSlider.mySwiper  .swiper-button-prev{
    right: 90% !important;
  }
  .heroSectionSlider.mySwiper .swiper-button-next{
    left: 4%;
  }
}
@media only screen and (min-width : 2560px){
  .heroSectionInfo{
    padding-top: 9.375vw;
  }
  .heroSectionSlider.mySwiper  .swiper-button-prev, .heroSectionSlider.mySwiper .swiper-button-next{
    width: 60px;
    height: 60px;
  }
  
}
