.appHeroSection{
    height: 400px;
    padding-top: 78px;
    background-size: cover;
    background-image: url(https://static.namava.ir/Content/Upload/Images/7b8dd5ad-4c0b-46ae-9d58-8e39196f6a5d.png);
    background-position: center;
}