.containerMovie{
    
    background-color: var(--footer-bgc-black);
    height: auto;
    margin-bottom: 2rem;
}
.containerMovie .dark-cover{
    background: radial-gradient(circle at 33% 40%, transparent 20%, var(--footer-bgc-black) 75%);
}
.movieInnerBtn{
    padding: 0 16px 0 20px;
}
.movieInnerBtn:hover{
    background-color: var(--heroSection-active-color);
}
.movieInnerBtn:hover svg,
.movieInnerBtn:hover span {
    fill: var(--white-color);
    color: var(--white-color);
}
.movieInnerMore {
    padding: 0 16px 0 20px;
    background-color: rgba(255, 255, 255, 0.2);
}
.movieInnerMore:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width:1280px){
    .containerMovie{
        min-height: 46.875vw;
    margin-bottom: -7.03125vw;
    }
}