.containerMovie{
    background-color: var(--footer-bgc-black);
    height: auto;
    margin-bottom: 2rem;
}
.movieInnerBtn{
    padding:0 16px 0 20px;
}
.movieInnerBtn:hover{
    background-color: var(--heroSection-active-color);
}
.movieInnerBtn:hover svg,
.movieInnerBtn:hover span {
    fill: var(--white-color);
    color: var(--white-color);
}
.movieInnerMore {
    padding: 0 16px 0 20px;
    background-color: rgba(255, 255, 255, 0.2);
}
.movieInnerIconHover{
    width:42px;
     height: 42px;
      background-color: rgba(255, 255, 255, 0.2);
}
.movieInnerMore:hover , .movieInnerIconHover:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width:1280px){
    .containerMovie{
        min-height: 46.875vw;
    margin-bottom: -7.03125vw;
    }
}