.personContainer{
    padding: 30px 24px;
    background-color: var(--light-black);
}

.personImgContainer{
    width: 140px;
    height: 140px;
}

.searchInputContainer{
    background-color: var(--footer-download-link-bgc);
    padding: 11px 16px;
    height: 42px;
}
.searchInput[type=text]{
    outline: none;
    color: var(--white-color) ;
    background: transparent;   
    border: none;
    text-align: right;
    padding-right: 0 ;
}
.searchInput::placeholder{
    color: var(--lighter-white-font);
}

.searchFiltersContainer{
    background-color: var(--footer-download-link-bgc);
    padding: 16px 24px;
    width: 280px;
    margin-right:2.5%;
    top: 11%;
    overflow-x: hidden;
}
.searchFiltersContainerSm{
    background-color: var(--footer-download-link-bgc);
    overflow-x: hidden;
    padding: 20px;
    transition:  all .5s ease;
    right: -150%;
}
.searchFiltersContainerSm.visible {
    right: 0;
}
.searchFiltersContainer input[type=checkbox]{
   accent-color: var(--footer-download-link-bgc);
}

.searchFilterBorder{
    border-bottom: 1px solid #666666;
    padding-bottom: 8px ;
}

.person{
    transition: color .3s ease , fill .3s ease;
    cursor: pointer;
}
.person:hover , .person:hover svg path{
    color: var(--active-color);
    fill: var(--active-color);
}

.movieResultContainer .darkMovieCover{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9));
    opacity: 0;
    transition: opacity .3s ease ;
    padding: 1rem;
    transform: scaleY(1);
    
}
.movieResultContainer:hover .darkMovieCover{
    opacity: 1 ;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    cursor: pointer;
}
.filterSmallToggle{
    padding: 11px 16px;
}
@media only screen  and (min-width:992px) {
    .searchFiltersContainer{
        width: 307px;
    }
    .searchInputContainer{
        padding: 16px 24px;
        height: 60px;
    }
    .searchInput[type=text]{
        font-size: 14px !important;
    }
    .personImgContainer{
        width: 140px;
        height: 140px;
        min-width: 140px;
    }
    .searchContainer{
        margin-right: 22em;
        padding-top:80px
    }
}