.personContainer{
    padding: 30px 24px;
    background-color: var(--light-black);
}

.personImgContainer{
    width: 140px;
    height: 140px;
}

.searchInputContainer{
    background-color: var(--footer-download-link-bgc);
    padding: 11px 16px;
    height: 42px;
}
.searchInput[type=text]{
    outline: none;
    color: var(--white-color) ;
    background: transparent;   
    border: none;
    text-align: right;
    padding-right: 0 ;
}
.searchInput::placeholder{
    color: var(--lighter-white-font);
}

.searchFiltersContainer{
    background-color: var(--footer-download-link-bgc);
    padding: 16px 24px;
    width: 280px;
    margin-right:2.5%;
    top: 11%;
    overflow-x: hidden;
}

.searchFiltersContainer input[type=checkbox]{
   accent-color: var(--footer-download-link-bgc);
}

.searchFilterBorder{
    border-bottom: 1px solid #666666;
    padding-bottom: 8px ;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen  and (min-width:1280px) {
    .searchFiltersContainer{
        width: 307px;
    }
    .searchInputContainer{
        padding: 16px 24px;
        height: 60px;
    }
    .searchInput[type=text]{
        font-size: 14px !important;
    }
    .personImgContainer{
        width: 140px;
        height: 140px;
        min-width: 140px;
    }
}