*,
*::after,
*::before{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-kit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    font-family: IRANYekanX;
    transition: height .3s ease;
    font-feature-settings: "ss01", "tnum";
}
:root{
    --active-color: #6eb8ff;
    --white-color: #ffffff;
    --light-white-font: #ccc;
    --lighter-white-font:#aaa;
    --green-bgc:#99c14d;
    --grey-bgc:#ffffff33;
    --grey-color-font:#aaaaaa;
    --body-bgc:#121212;
    --light-black: #222327;
    --footer-download-link-bgc:#37383e;
    --footer-bgc-black:#1A1A1A;
    --footer-media-blue:#005fb4;
    --heroSection-active-color:#1993ff;
    --heroSection-dark-bgc:rgba(255, 255, 255, 0.2);
    --contactUs-white:rgb(242, 242, 242);
    --contactUs-form-title:#37383e;
}
body{
    direction:rtl;
    margin: 0;
    background: var(--body-bgc);
}
a{
    text-decoration: none;
    cursor: pointer;
}
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    padding: 0;
}
button{
    background: transparent;
    color: var(--white-color);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}


.swiper-button-disabled::after{
    opacity: 0 !important;
}
.container{
    width: 95%;
    margin: 0 auto; 
}
.containerInnerMovie{
    width: 97.5%;
    margin: 0 auto 0 0 ;
}
.container-padding-2{
    padding: 0 0 2rem;
}
.active{
    color: var(--active-color);
    fill: var(--active-color);
}
.green-bgc{
    background-color: var(--green-bgc);
}
.dark-bgc{
    background-color: var(--heroSection-dark-bgc);
}
.black-bgc{
    background-color: #000 !important;
}
.light-black-bgc{
    background-color: var(--body-bgc);
}
.black-color{
    color: #000;
}
.white-bgc{
    background-color: var(--white-color);
}
.white-color{
    color: var(--white-color);
}
.light-white-font{
    color: var(--light-white-font);
}
.lighter-white-font{
    color: var(--lighter-white-font);
}
.light-black{
    color: var(--light-black);
}
.object-cover{
    object-fit: cover;
}
.ltr{
    direction: ltr;
}
.p-7{
    padding: 7px;
}
.p-b-half{
    padding-bottom: .5rem;
}
.border-radius-4{
    border-radius: 4px;
}
.border-radius-5{
    border-radius: 5px;
}
.border-radius-6{
    border-radius: 6px;
}
.border-radius-8{
    border-radius: 8px;
}
.border-radius-12{
    border-radius: 12px;
}
.border-radius-50{
    border-radius: 50%;
}
.w-100{
    width:100%;
}
.w-50{
    width: 50%;
}
.max-w-100{
    max-width:100%;
}
.min-h-100{
    min-height: 100%;
}
.h-100{
    height: 100%;
}
.h-auto{
    height: auto;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.vertical-middle{
    vertical-align: middle;
}
.flow-hidden{
    overflow: hidden;
}
.position-sticky{
    position: sticky;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.position-fixed{
    position: fixed;
}
.top-0{
    top: 0;
}
.top-25{
    top: 25%;
}
.top-50{
    top: 50%;
}
.top-75{
    top: 75%;
}
.top-100{
    top: 100%;
}
.right-0{
    right: 0;
}
.right-25{
    right: 25%;
}
.right-50{
    right: 50%;
}
.right-75{
    right: 75%;
}
.right-100{
    right: 100%;
}
.bottom-0{
    bottom: 0;
}
.bottom-25{
    bottom: 25%;
}
.bottom-50{
    bottom: 50%;
}
.bottom-75{
    bottom: 75%;
}
.bottom-100{
    bottom: 100%;
}
.left-0{
    left: 0;
}
.left-25{
    left: 25%;
}
.left-50{
    left: 50%;
}
.left-75{
    left: 75%;
}
.left-100{
    left: 100%;
}
.z-n1{
    z-index: -1;
}
.z-0{
    z-index: 0;
}
.z-1{
    z-index: 1;
}
.z-2{
    z-index: 2;
}
.z-3{
    z-index: 3;
}

.d-none{
    display: none;
}
.d-inline-block{
    display: inline-block;
}
.d-block{
    display: block;
}
.d-flex{
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -o-kit-display: flex;
    -ms-display: flex;
}
.flex-basis{
    flex-basis: auto;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-row{
    flex-flow: row;
}
.flex-row-reverse{
    flex-flow: row-reverse;
}
.flex-column{
    flex-flow: column;
}
.flex-column-reverse{
    flex-flow: column-reverse;
}
.justify-center{
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-kit-justify-content: center;
    -ms-justify-content: center;
}
.justify-btw{
    justify-content: space-between;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    -o-kit-justify-content:space-between;
    -ms-justify-content:space-between;
}
.justify-start{
    justify-content: start;
    -webkit-justify-content: start;
    -moz-justify-content:start;
    -o-kit-justify-content:start;
    -ms-justify-content:start;
}
.justify-end{
    justify-content: end;
    -webkit-justify-content: end;
    -moz-justify-content:end;
    -o-kit-justify-content:end;
    -ms-justify-content:end;
}
.justify-evenly{
    justify-content: space-evenly;
    -webkit-justify-content:space-evenly;
    -moz-justify-content:space-evenly;
    -o-kit-justify-content:space-evenly;
    -ms-justify-content:space-evenly;
}
.justify-around{
    justify-content: space-around;
    -webkit-justify-content:space-around;
    -moz-justify-content:space-around;
    -o-kit-justify-content:space-around;
    -ms-justify-content:space-around;
}
.align-center{
    align-items: center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-kit-align-items:center;
    -ms-align-items:center;
}
.align-self-center{
    align-self: center;
    -webkit-align-self:center;
    -moz-align-self:center;
    -o-kit-align-self:center;
    -ms-align-self:center;
}
.align-stretch{
    align-items: stretch;
    -webkit-align-items:stretch;
    -moz-align-items:stretch;
    -o-kit-align-items:stretch;
    -ms-align-items:stretch;
}
.align-start{
    align-items: start;
    -webkit-align-items:start;
    -moz-align-items:start;
    -o-kit-align-items:start;
    -ms-align-items:start;
}
.align-self-start{
    align-self: start;
    -webkit-align-self: start !important;
    -moz-align-self: start;
    -o-kit-align-self: start;
    -ms-align-self: start;
}
.align-end{
    align-items: end;
    -webkit-align-items:end;
    -moz-align-items:end;
    -o-kit-align-items:end;
    -ms-align-items:end;
}
.align-self-end{
    align-self: end;
    -webkit-align-self: end;
    -moz-align-self: end;
    -o-kit-align-self: end;
    -ms-align-self: end;
}
.gap-1{
    gap: 8px;
}
.gap-2{
    gap: 16px;
}
.gap-3{
    gap: 24px;
}
.gap-4{
    gap: 32px;
}
.gap-5{
    gap: 40px;
}
.gap-6{
    gap: 48px;
}
.gap-7{
    gap: 56px;
}
.gap-8{
    gap: 64px;
}
.gap-9{
    gap: 72px;
}
.gap-10{
    gap: 80px;
}
.gap-11{
    gap: 96px;
}
.gap-12{
    gap: 128px;
}
.gap-13{
    gap: 256px;
}
.font-weight-normal{
    font-weight: normal !important;
}
.line-height-21{
    line-height: 21px;
}
.line-height-24{
    line-height: 24px;
}
.line-height-28{
    line-height: 28px;
}
.line-height-31{
    line-height: 31px;
}
.line-height-35{
    line-height: 35px;
}
.line-height-41{
    line-height: 41px;
}
.line-height-42{
    line-height: 42px;
}
.font-8{
    font-size: 8px;
    font-weight: normal;
}
.font-10{
    font-size: 10px;
    font-weight: normal;
}
.font-12{
    font-size: 12px;
    font-weight: bold;
}
.font-14{
    font-size: 14px;
    font-weight: bold;
}
.font-16{
    font-size: 16px;
    font-weight: bold;
}
.font-20{
    font-size: 20px;
    font-weight: bold;
}
.font-24{
    font-size: 24px;
    font-weight: bold;
}
.font-28{
    font-size: 28px;
}
.font-34{
    font-size: 34px;
}
.font-42{
    font-size: 42px;
}

/*! default columns */
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

/*!responsive columns*/
@media only screen and (max-width: 576px) {
    .col-xs-1{
        width: 8.33%;
    }
    .col-xs-2{
        width: 16.66%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-4{
        width: 33.33%;
    }
    .col-xs-5{
        width: 41.66%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-7{
        width: 58.33%;
    }
    .col-xs-8{
        width: 66.66%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-10{
        width: 83.33%;
    }
    .col-xs-11{
        width: 91.66%;
    }
    .col-xs-12{
        width: 100%;
    }
    .line-height-xs-21{
        line-height: 21px;
    }
    .line-height-xs-24{
        line-height: 24px;
    }
    .line-height-xs-28{
        line-height: 28px;
    }
    .line-height-xs-31{
        line-height: 31px;
    }
    .line-height-xs-35{
        line-height: 35px;
    }
    .line-height-xs-41{
        line-height: 41px;
    }
    .font-xs-8{
        font-size: 8px;
        font-weight: normal;
    }
    .font-xs-10{
        font-size: 10px;
        font-weight: normal;
    }
    .font-xs-12{
        font-size: 12px;
        font-weight: bold;
    }
    .font-xs-14{
        font-size: 14px;
        font-weight: bold;
    }
    .font-xs-16{
        font-size: 16px;
        font-weight: bold;
    }
    .font-xs-18{
        font-size: 18px;
        font-weight: bold;
    }
    .font-xs-20{
        font-size: 20px;
        font-weight: bold;
    }
    .font-xs-24{
        font-size: 24px;
        font-weight: bold;
    }
    .font-xs-28{
        font-size: 28px;
    }
    .font-xs-34{
        font-size: 34px;
    }
    .font-xs-42{
        font-size: 42px;
    }
    
    .container-small{
        width: 95%;
        margin: 0 auto;
    }
    .d-xs-none{
        display: none;
    }
    .d-xs-block{
        display: block;
    }
    .flex-xs-basis{
        flex-basis: auto;
    }
    .flex-xs-wrap{
        flex-wrap: wrap;
    }
    .flex-xs-row{
        flex-flow: row;
    }
    .flex-xs-row-reverse{
        flex-flow: row-reverse;
    }
    .flex-xs-column{
        flex-flow: column;
    }
    .flex-xs-column-reverse{
        flex-flow: column-reverse;
    }
    .justify-xs-center{
        justify-content: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-kit-justify-content: center;
        -ms-justify-content: center;
    }
    .justify-xs-btw{
        justify-content: space-between;
        -webkit-justify-content:space-between;
        -moz-justify-content:space-between;
        -o-kit-justify-content:space-between;
        -ms-justify-content:space-between;
    }
    .justify-xs-start{
        justify-content: start;
        -webkit-justify-content: start;
        -moz-justify-content:start;
        -o-kit-justify-content:start;
        -ms-justify-content:start;
    }
    .justify-xs-end{
        justify-content: end;
        -webkit-justify-content: end;
        -moz-justify-content:end;
        -o-kit-justify-content:end;
        -ms-justify-content:end;
    }
    .justify-xs-evenly{
        justify-content: space-evenly;
        -webkit-justify-content:space-evenly;
        -moz-justify-content:space-evenly;
        -o-kit-justify-content:space-evenly;
        -ms-justify-content:space-evenly;
    }
    .justify-xs-around{
        justify-content: space-around;
        -webkit-justify-content:space-around;
        -moz-justify-content:space-around;
        -o-kit-justify-content:space-around;
        -ms-justify-content:space-around;
    }
    .align-xs-center{
        align-items: center;
        -webkit-align-items:center;
        -moz-align-items:center;
        -o-kit-align-items:center;
        -ms-align-items:center;
    }
    .align-xs-stretch{
        align-items: stretch;
        -webkit-align-items:stretch;
        -moz-align-items:stretch;
        -o-kit-align-items:stretch;
        -ms-align-items:stretch;
    }
    .align-xs-start{
        align-items: start;
        -webkit-align-items:start;
        -moz-align-items:start;
        -o-kit-align-items:start;
        -ms-align-items:start;
    }
    .align-xs-end{
        align-items: end;
        -webkit-align-items:end;
        -moz-align-items:end;
        -o-kit-align-items:end;
        -ms-align-items:end;
    }
    .gap-xs-1{
        gap: 8px;
    }
    .gap-xs-2{
        gap: 16px;
    }
    .gap-xs-3{
        gap: 24px;
    }
    .gap-xs-4{
        gap: 32px;
    }
    .gap-xs-5{
        gap: 40px;
    }
    .gap-xs-6{
        gap: 48px;
    }
    .gap-xs-7{
        gap: 56px;
    }
    .gap-xs-8{
        gap: 64px;
    }
    .gap-xs-9{
        gap: 72px;
    }
    .gap-xs-10{
        gap: 80px;
    }
    .gap-xs-11{
        gap: 96px;
    }
    .gap-xs-12{
        gap: 128px;
    }
    .gap-xs-13{
        gap: 256px;
    }
}
@media only screen and (min-width: 576px) {
    .col-sm-1{
        width: 8.33%;
    }
    .col-sm-2{
        width: 16.66%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.33%;
    }
    .col-sm-5{
        width: 41.66%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.33%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width: 83.33%;
    }
    .col-sm-11{
        width: 91.66%;
    }
    .col-sm-12{
        width: 100%;
    }
    .line-height-sm-21{
        line-height: 21px;
    }
    .line-height-sm-24{
        line-height: 24px;
    }
    .line-height-sm-28{
        line-height: 28px;
    }
    .line-height-sm-31{
        line-height: 31px;
    }
    .line-height-sm-35{
        line-height: 35px;
    }
    .line-height-sm-41{
        line-height: 41px;
    }
    .font-sm-8{
        font-size: 8px;
        font-weight: normal;
    }
    .font-sm-10{
        font-size: 10px;
        font-weight: normal;
    }
    .font-sm-12{
        font-size: 12px;
        font-weight: bold;
    }
    .font-sm-14{
        font-size: 14px;
        font-weight: bold;
    }
    .font-sm-16{
        font-size: 16px;
        font-weight: bold;
    }
    .font-sm-18{
        font-size: 18px;
        font-weight: bold;
    }
    .font-sm-20{
        font-size: 20px;
        font-weight: bold;
    }
    .font-sm-24{
        font-size: 24px;
        font-weight: bold;
    }
    .font-sm-28{
        font-size: 28px;
    }
    .font-sm-34{
        font-size: 34px;
    }
    .font-sm-42{
        font-size: 42px;
    }
    .container-small{
        width: 95%;
        margin: 0 auto;
    }
    .d-sm-none{
        display: none;
    }
    .d-sm-block{
        display: block;
    }
    .flex-sm-basis{
        flex-basis: auto;
    }
    .flex-sm-wrap{
        flex-wrap: wrap;
    }
    .flex-sm-row{
        flex-flow: row;
    }
    .flex-sm-row-reverse{
        flex-flow: row-reverse;
    }
    .flex-sm-column{
        flex-flow: column;
    }
    .flex-sm-column-reverse{
        flex-flow: column-reverse;
    }
    .justify-sm-center{
        justify-content: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-kit-justify-content: center;
        -ms-justify-content: center;
    }
    .justify-sm-btw{
        justify-content: space-between;
        -webkit-justify-content:space-between;
        -moz-justify-content:space-between;
        -o-kit-justify-content:space-between;
        -ms-justify-content:space-between;
    }
    .justify-sm-start{
        justify-content: start;
        -webkit-justify-content: start;
        -moz-justify-content:start;
        -o-kit-justify-content:start;
        -ms-justify-content:start;
    }
    .justify-sm-end{
        justify-content: end;
        -webkit-justify-content: end;
        -moz-justify-content:end;
        -o-kit-justify-content:end;
        -ms-justify-content:end;
    }
    .justify-sm-evenly{
        justify-content: space-evenly;
        -webkit-justify-content:space-evenly;
        -moz-justify-content:space-evenly;
        -o-kit-justify-content:space-evenly;
        -ms-justify-content:space-evenly;
    }
    .justify-sm-around{
        justify-content: space-around;
        -webkit-justify-content:space-around;
        -moz-justify-content:space-around;
        -o-kit-justify-content:space-around;
        -ms-justify-content:space-around;
    }
    .align-sm-center{
        align-items: center;
        -webkit-align-items:center;
        -moz-align-items:center;
        -o-kit-align-items:center;
        -ms-align-items:center;
    }
    .align-sm-stretch{
        align-items: stretch;
        -webkit-align-items:stretch;
        -moz-align-items:stretch;
        -o-kit-align-items:stretch;
        -ms-align-items:stretch;
    }
    .align-sm-start{
        align-items: start;
        -webkit-align-items:start;
        -moz-align-items:start;
        -o-kit-align-items:start;
        -ms-align-items:start;
    }
    .align-sm-end{
        align-items: end;
        -webkit-align-items:end;
        -moz-align-items:end;
        -o-kit-align-items:end;
        -ms-align-items:end;
    }
    .gap-sm-1{
        gap: 8px;
    }
    .gap-sm-2{
        gap: 16px;
    }
    .gap-sm-3{
        gap: 24px;
    }
    .gap-sm-4{
        gap: 32px;
    }
    .gap-sm-5{
        gap: 40px;
    }
    .gap-sm-6{
        gap: 48px;
    }
    .gap-sm-7{
        gap: 56px;
    }
    .gap-sm-8{
        gap: 64px;
    }
    .gap-sm-9{
        gap: 72px;
    }
    .gap-sm-10{
        gap: 80px;
    }
    .gap-sm-11{
        gap: 96px;
    }
    .gap-sm-12{
        gap: 128px;
    }
    .gap-sm-13{
        gap: 256px;
    }

}
@media only screen and (min-width: 768px) {
    .container-md{
        width: 78%;
        margin: 0 auto;
    }
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.33%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-11{
        width: 91.66%;
    }
    .col-md-12{
        width: 100%;
    }
    .d-md-block{
        display: block;
    }
    .text-md-right{
        text-align: right;
    }
    .line-height-md-21{
        line-height: 21px;
    }
    .line-height-md-24{
        line-height: 24px;
    }
    .line-height-md-28{
        line-height: 28px;
    }
    .line-height-md-31{
        line-height: 31px;
    }
    .line-height-md-35{
        line-height: 35px;
    }
    .line-height-md-41{
        line-height: 41px;
    }
    .font-md-8{
        font-size: 8px;
        font-weight: normal;
    }
    .font-md-10{
        font-size: 10px;
        font-weight: normal;
    }
    .font-md-12{
        font-size: 12px;
        font-weight: bold;
    }
    .font-md-14{
        font-size: 14px;
        font-weight: bold;
    }
    .font-md-16{
        font-size: 16px;
        font-weight: bold;
    }
    .font-md-18{
        font-size: 18px;
        font-weight: bold;
    }
    .font-md-20{
        font-size: 20px;
        font-weight: bold;
    }
    .font-md-24{
        font-size: 24px;
        font-weight: bold;
    }
    .font-md-28{
        font-size: 28px;
    }
    .font-md-34{
        font-size: 34px;
    }
    .font-md-42{
        font-size: 42px;
    }
    .d-md-inline-block{
        display: inline-block;
    }
    .flex-md-basis{
        flex-basis: auto;
    }
    .flex-md-wrap{
        flex-wrap: wrap;
    }
    .flex-md-row{
        flex-flow: row;
    }
    .flex-md-row-reverse{
        flex-flow: row-reverse;
    }
    .flex-md-column{
        flex-flow: column;
    }
    .flex-md-column-reverse{
        flex-flow: column-reverse;
    }
    .justify-md-center{
        justify-content: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-kit-justify-content: center;
        -ms-justify-content: center;
    }
    .justify-md-btw{
        justify-content: space-between;
        -webkit-justify-content:space-between;
        -moz-justify-content:space-between;
        -o-kit-justify-content:space-between;
        -ms-justify-content:space-between;
    }
    .justify-md-start{
        justify-content: start;
        -webkit-justify-content: start;
        -moz-justify-content:start;
        -o-kit-justify-content:start;
        -ms-justify-content:start;
    }
    .justify-md-end{
        justify-content: end;
        -webkit-justify-content: end;
        -moz-justify-content:end;
        -o-kit-justify-content:end;
        -ms-justify-content:end;
    }
    .justify-md-evenly{
        justify-content: space-evenly;
        -webkit-justify-content:space-evenly;
        -moz-justify-content:space-evenly;
        -o-kit-justify-content:space-evenly;
        -ms-justify-content:space-evenly;
    }
    .justify-md-around{
        justify-content: space-around;
        -webkit-justify-content:space-around;
        -moz-justify-content:space-around;
        -o-kit-justify-content:space-around;
        -ms-justify-content:space-around;
    }
    .align-md-center{
        align-items: center;
        -webkit-align-items:center;
        -moz-align-items:center;
        -o-kit-align-items:center;
        -ms-align-items:center;
    }
    .align-md-stretch{
        align-items: stretch;
        -webkit-align-items:stretch;
        -moz-align-items:stretch;
        -o-kit-align-items:stretch;
        -ms-align-items:stretch;
    }
    .align-md-start{
        align-items: start;
        -webkit-align-items:start;
        -moz-align-items:start;
        -o-kit-align-items:start;
        -ms-align-items:start;
    }
    .align-md-end{
        align-items: end;
        -webkit-align-items:end;
        -moz-align-items:end;
        -o-kit-align-items:end;
        -ms-align-items:end;
    }
    .gap-md-1{
        gap: 8px;
    }
    .gap-md-2{
        gap: 16px;
    }
    .gap-md-3{
        gap: 24px;
    }
    .gap-md-4{
        gap: 32px;
    }
    .gap-md-5{
        gap: 40px;
    }
    .gap-md-6{
        gap: 48px;
    }
    .gap-md-7{
        gap: 56px;
    }
    .gap-md-8{
        gap: 64px;
    }
    .gap-md-9{
        gap: 72px;
    }
    .gap-md-10{
        gap: 80px;
    }
    .gap-md-11{
        gap: 96px;
    }
    .gap-md-12{
        gap: 128px;
    }
    .gap-md-13{
        gap: 256px;
    }
}
@media only screen and (min-width: 992px) {
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }
    .line-height-lg-21{
        line-height: 21px;
    }
    .line-height-lg-24{
        line-height: 24px;
    }
    .line-height-lg-28{
        line-height: 28px;
    }
    .line-height-lg-31{
        line-height: 31px;
    }
    .line-height-lg-35{
        line-height: 35px;
    }
    .line-height-lg-41{
        line-height: 41px;
    }
    .font-lg-8{
        font-size: 8px;
        font-weight: normal;
    }
    .font-lg-10{
        font-size: 10px;
        font-weight: normal;
    }
    .font-lg-12{
        font-size: 12px;
        font-weight: bold;
    }
    .font-lg-14{
        font-size: 14px;
        font-weight: bold;
    }
    .font-lg-16{
        font-size: 16px;
        font-weight: bold;
    }
    .font-lg-18{
        font-size: 18px;
        font-weight: bold;
    }
    .font-lg-20{
        font-size: 20px;
        font-weight: bold;
    }
    .font-lg-24{
        font-size: 24px;
        font-weight: bold;
    }
    .font-lg-28{
        font-size: 28px;
    }
    .font-lg-34{
        font-size: 34px;
    }
    .font-lg-42{
        font-size: 42px;
    }
    .h-lg-auto{
        height: auto;
    }
    .top-lg-0{
        top: 0;
    }
    .top-lg-25{
        top: 25%;
    }
    .top-lg-50{
        top: 50%;
    }
    .top-lg-75{
        top: 75%;
    }
    .top-lg-100{
        top: 100%;
    }

    .d-lg-block{
        display: block;
    }
    .d-lg-flex{
        display: flex;
    }
    .d-lg-none{
        display: none;
    }
    .flex-lg-basis{
        flex-basis: auto;
    }
    .flex-lg-wrap{
        flex-wrap: wrap;
    }
    .flex-lg-row{
        flex-flow: row;
    }
    .flex-lg-row-reverse{
        flex-flow: row-reverse;
    }
    .flex-lg-column{
        flex-flow: column;
    }
    .flex-lg-column-reverse{
        flex-flow: column-reverse;
    }
    .justify-lg-center{
        justify-content: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-kit-justify-content: center;
        -ms-justify-content: center;
    }
    .justify-lg-btw{
        justify-content: space-between;
        -webkit-justify-content:space-between;
        -moz-justify-content:space-between;
        -o-kit-justify-content:space-between;
        -ms-justify-content:space-between;
    }
    .justify-lg-start{
        justify-content: start;
        -webkit-justify-content: start;
        -moz-justify-content:start;
        -o-kit-justify-content:start;
        -ms-justify-content:start;
    }
    .justify-lg-end{
        justify-content: end;
        -webkit-justify-content: end;
        -moz-justify-content:end;
        -o-kit-justify-content:end;
        -ms-justify-content:end;
    }
    .justify-lg-evenly{
        justify-content: space-evenly;
        -webkit-justify-content:space-evenly;
        -moz-justify-content:space-evenly;
        -o-kit-justify-content:space-evenly;
        -ms-justify-content:space-evenly;
    }
    .justify-lg-around{
        justify-content: space-around;
        -webkit-justify-content:space-around;
        -moz-justify-content:space-around;
        -o-kit-justify-content:space-around;
        -ms-justify-content:space-around;
    }
    .align-lg-center{
        align-items: center;
        -webkit-align-items:center;
        -moz-align-items:center;
        -o-kit-align-items:center;
        -ms-align-items:center;
    }
    .align-lg-stretch{
        align-items: stretch;
        -webkit-align-items:stretch;
        -moz-align-items:stretch;
        -o-kit-align-items:stretch;
        -ms-align-items:stretch;
    }
    .align-lg-start{
        align-items: start;
        -webkit-align-items:start;
        -moz-align-items:start;
        -o-kit-align-items:start;
        -ms-align-items:start;
    }
    .align-lg-end{
        align-items: end;
        -webkit-align-items:end;
        -moz-align-items:end;
        -o-kit-align-items:end;
        -ms-align-items:end;
    }
    .gap-lg-1{
        gap: 8px;
    }
    .gap-lg-2{
        gap: 16px;
    }
    .gap-lg-3{
        gap: 24px;
    }
    .gap-lg-4{
        gap: 32px;
    }
    .gap-lg-5{
        gap: 40px;
    }
    .gap-lg-6{
        gap: 48px;
    }
    .gap-lg-7{
        gap: 56px;
    }
    .gap-lg-8{
        gap: 64px;
    }
    .gap-lg-9{
        gap: 72px;
    }
    .gap-lg-10{
        gap: 80px;
    }
    .gap-lg-11{
        gap: 96px;
    }
    .gap-lg-12{
        gap: 128px;
    }
    .gap-lg-13{
        gap: 256px;
    }

}
@media only screen and (min-width: 1200px) {
    .col-xl-1{
        width: 8.33%;
    }
    .col-xl-2{
        width: 16.66%;
    }
    .col-xl-3{
        width: 25%;
    }
    .col-xl-4{
        width: 33.33%;
    }
    .col-xl-5{
        width: 41.66%;
    }
    .col-xl-6{
        width: 50%;
    }
    .col-xl-7{
        width: 58.33%;
    }
    .col-xl-8{
        width: 66.66%;
    }
    .col-xl-9{
        width: 75%;
    }
    .col-xl-10{
        width: 83.33%;
    }
    .col-xl-11{
        width: 91.66%;
    }
    .col-xl-12{
        width: 100%;
    }
    .line-height-xl-21{
        line-height: 21px;
    }
    .line-height-xl-24{
        line-height: 24px;
    }
    .line-height-xl-28{
        line-height: 28px;
    }
    .line-height-xl-31{
        line-height: 31px;
    }
    .line-height-xl-35{
        line-height: 35px;
    }
    .line-height-xl-41{
        line-height: 41px;
    }
    .font-xl-8{
        font-size: 8px;
        font-weight: normal;
    }
    .font-xl-10{
        font-size: 10px;
        font-weight: normal;
    }
    .font-xl-12{
        font-size: 12px;
        font-weight: bold;
    }
    .font-xl-14{
        font-size: 14px;
        font-weight: bold;
    }
    .font-xl-16{
        font-size: 16px;
        font-weight: bold;
    }
    .font-xl-18{
        font-size: 18px;
        font-weight: bold;
    }
    .font-xl-20{
        font-size: 20px;
        font-weight: bold;
    }
    .font-xl-24{
        font-size: 24px;
        font-weight: bold;
    }
    .font-xl-28{
        font-size: 28px;
    }
    .font-xl-34{
        font-size: 34px;
    }
    .font-xl-42{
        font-size: 42px;
    }
    .d-xl-block{
        display: block;
    }
    .d-xl-flex{
        display: flex;
    }
    .flex-xl-basis{
        flex-basis: auto;
    }
    .flex-xl-wrap{
        flex-wrap: wrap;
    }
    .flex-xl-row{
        flex-flow: row;
    }
    .flex-xl-row-reverse{
        flex-flow: row-reverse;
    }
    .flex-xl-column{
        flex-flow: column;
    }
    .flex-xl-column-reverse{
        flex-flow: column-reverse;
    }
    .justify-xl-center{
        justify-content: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-kit-justify-content: center;
        -ms-justify-content: center;
    }
    .justify-xl-btw{
        justify-content: space-between;
        -webkit-justify-content:space-between;
        -moz-justify-content:space-between;
        -o-kit-justify-content:space-between;
        -ms-justify-content:space-between;
    }
    .justify-xl-start{
        justify-content: start;
        -webkit-justify-content: start;
        -moz-justify-content:start;
        -o-kit-justify-content:start;
        -ms-justify-content:start;
    }
    .justify-xl-end{
        justify-content: end;
        -webkit-justify-content: end;
        -moz-justify-content:end;
        -o-kit-justify-content:end;
        -ms-justify-content:end;
    }
    .justify-xl-evenly{
        justify-content: space-evenly;
        -webkit-justify-content:space-evenly;
        -moz-justify-content:space-evenly;
        -o-kit-justify-content:space-evenly;
        -ms-justify-content:space-evenly;
    }
    .justify-xl-around{
        justify-content: space-around;
        -webkit-justify-content:space-around;
        -moz-justify-content:space-around;
        -o-kit-justify-content:space-around;
        -ms-justify-content:space-around;
    }
    .align-xl-center{
        align-items: center;
        -webkit-align-items:center;
        -moz-align-items:center;
        -o-kit-align-items:center;
        -ms-align-items:center;
    }
    .align-xl-stretch{
        align-items: stretch;
        -webkit-align-items:stretch;
        -moz-align-items:stretch;
        -o-kit-align-items:stretch;
        -ms-align-items:stretch;
    }
    .align-xl-start{
        align-items: start;
        -webkit-align-items:start;
        -moz-align-items:start;
        -o-kit-align-items:start;
        -ms-align-items:start;
    }
    .align-xl-end{
        align-items: end;
        -webkit-align-items:end;
        -moz-align-items:end;
        -o-kit-align-items:end;
        -ms-align-items:end;
    }
    .gap-xl-1{
        gap: 8px;
    }
    .gap-xl-2{
        gap: 16px;
    }
    .gap-xl-3{
        gap: 24px;
    }
    .gap-xl-4{
        gap: 32px;
    }
    .gap-xl-5{
        gap: 40px;
    }
    .gap-xl-6{
        gap: 48px;
    }
    .gap-xl-7{
        gap: 56px;
    }
    .gap-xl-8{
        gap: 64px;
    }
    .gap-xl-9{
        gap: 72px;
    }
    .gap-xl-10{
        gap: 80px;
    }
    .gap-xl-11{
        gap: 96px;
    }
    .gap-xl-12{
        gap: 128px;
    }
    .gap-xl-13{
        gap: 256px;
    }
}
@media only screen and (min-width: 1440px) {
    .col-xxl-1{
        width: 8.33%;
    }
    .col-xxl-2{
        width: 16.66%;
    }
    .col-xxl-3{
        width: 25%;
    }
    .col-xxl-4{
        width: 33.33%;
    }
    .col-xxl-5{
        width: 41.66%;
    }
    .col-xxl-6{
        width: 50%;
    }
    .col-xxl-7{
        width: 58.33%;
    }
    .col-xxl-8{
        width: 66.66%;
    }
    .col-xxl-9{
        width: 75%;
    }
    .col-xxl-10{
        width: 83.33%;
    }
    .col-xxl-11{
        width: 91.66%;
    }
    .col-xxl-12{
        width: 100%;
    }
    .line-height-xxl-21{
        line-height: 21px;
    }
    .line-height-xxl-24{
        line-height: 24px;
    }
    .line-height-xxl-28{
        line-height: 28px;
    }
    .line-height-xxl-31{
        line-height: 31px;
    }
    .line-height-xxl-35{
        line-height: 35px;
    }
    .line-height-xxl-41{
        line-height: 41px;
    }
    .font-xxl-8{
        font-size: 8px;
        font-weight: normal;
    }
    .font-xxl-10{
        font-size: 10px;
        font-weight: normal;
    }
    .font-xxl-12{
        font-size: 12px;
        font-weight: bold;
    }
    .font-xxl-14{
        font-size: 14px;
        font-weight: bold;
    }
    .font-xxl-16{
        font-size: 16px;
        font-weight: bold;
    }
    .font-xxl-18{
        font-size: 18px;
        font-weight: bold;
    }
    .font-xxl-20{
        font-size: 20px;
        font-weight: bold;
    }
    .font-xxl-24{
        font-size: 24px;
        font-weight: bold;
    }
    .font-xxl-28{
        font-size: 28px;
    }
    .font-xxl-34{
        font-size: 34px;
    }
    .font-xxl-42{
        font-size: 42px;
    }
    .container-xxl{/** container-small to container-xxl*/
        width: 70%;
        margin: 0 auto;
    }
    .d-xxl-block{
        display: block;
    }
    .flex-xxl-basis{
        flex-basis: auto;
    }
    .flex-xxl-wrap{
        flex-wrap: wrap;
    }
    .flex-xxl-row{
        flex-flow: row;
    }
    .flex-xxl-row-reverse{
        flex-flow: row-reverse;
    }
    .flex-xxl-column{
        flex-flow: column;
    }
    .flex-xxl-column-reverse{
        flex-flow: column-reverse;
    }
    .justify-xxl-center{
        justify-content: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -o-kit-justify-content: center;
        -ms-justify-content: center;
    }
    .justify-xxl-btw{
        justify-content: space-between;
        -webkit-justify-content:space-between;
        -moz-justify-content:space-between;
        -o-kit-justify-content:space-between;
        -ms-justify-content:space-between;
    }
    .justify-xxl-start{
        justify-content: start;
        -webkit-justify-content: start;
        -moz-justify-content:start;
        -o-kit-justify-content:start;
        -ms-justify-content:start;
    }
    .justify-xxl-end{
        justify-content: end;
        -webkit-justify-content: end;
        -moz-justify-content:end;
        -o-kit-justify-content:end;
        -ms-justify-content:end;
    }
    .justify-xxl-evenly{
        justify-content: space-evenly;
        -webkit-justify-content:space-evenly;
        -moz-justify-content:space-evenly;
        -o-kit-justify-content:space-evenly;
        -ms-justify-content:space-evenly;
    }
    .justify-xxl-around{
        justify-content: space-around;
        -webkit-justify-content:space-around;
        -moz-justify-content:space-around;
        -o-kit-justify-content:space-around;
        -ms-justify-content:space-around;
    }
    .align-xxl-center{
        align-items: center;
        -webkit-align-items:center;
        -moz-align-items:center;
        -o-kit-align-items:center;
        -ms-align-items:center;
    }
    .align-xxl-stretch{
        align-items: stretch;
        -webkit-align-items:stretch;
        -moz-align-items:stretch;
        -o-kit-align-items:stretch;
        -ms-align-items:stretch;
    }
    .align-xxl-start{
        align-items: start;
        -webkit-align-items:start;
        -moz-align-items:start;
        -o-kit-align-items:start;
        -ms-align-items:start;
    }
    .align-xxl-end{
        align-items: end;
        -webkit-align-items:end;
        -moz-align-items:end;
        -o-kit-align-items:end;
        -ms-align-items:end;
    }
    .gap-xxl-1{
        gap: 8px;
    }
    .gap-xxl-2{
        gap: 16px;
    }
    .gap-xxl-3{
        gap: 24px;
    }
    .gap-xxl-4{
        gap: 32px;
    }
    .gap-xxl-5{
        gap: 40px;
    }
    .gap-xxl-6{
        gap: 48px;
    }
    .gap-xxl-7{
        gap: 56px;
    }
    .gap-xxl-8{
        gap: 64px;
    }
    .gap-xxl-9{
        gap: 72px;
    }
    .gap-xxl-10{
        gap: 80px;
    }
    .gap-xxl-11{
        gap: 96px;
    }
    .gap-xxl-12{
        gap: 128px;
    }
    .gap-xxl-13{
        gap: 256px;
    }
}




