.select-option input{
    width: 100%;
    background-color: var(--footer-download-link-bgc);
    border: none;
    cursor: pointer;
}
.select-option input[type=text]{
    outline: none;
    padding-right: 0;
}
.select-option input[type=text]::placeholder{
    font-size: 16px;
    color: var(--white-color);
}
.select-option:after{
    content: '';
    border-top: 12px solid #000;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -8px;
}
.rotate {
    transform: rotate(-180deg);
}
.content {
    background-color: var(--footer-download-link-bgc);
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
}
.active .content {
    max-height: 300px; 
}
.search input{
    background-color: var(--light-white-font);
}
.search input[type=text]{
    outline: none;
}
.search input[type=text]::placeholder{
    font-size: 16px;
    color: var(--light-black);
}
.options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding: 0;
}
.options div {
    padding: 10px 15px;
}
.select-box.active .content{
    display: block;
}
.select-box.active .select-option:after{
    transform: rotate(-180deg);
}