.showResultContainer .darkShowCover , .movieResultContainer .darkMovieCover, .searchResultContainer .darkSearchCover{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9));
    opacity: 0;
    transition: opacity .3s ease ;
    padding: 1rem;
    height: 15rem !important;
}
.showResultContainer:hover .darkShowCover{
    opacity: 1 ;
}
.movieResultContainer , .searchResultContainer , .showResultContainer{
   padding: 0 5px; 
   
}
.searchContainer{
    margin: 0;
}
.movieResultImage , .showResultImage ,.searchResultImage{
    height: 15rem !important;
}
.resultHeight{
    height: 15rem
}
@media only screen and (min-width: 992px){
    .resultHeight{
        height: 100%;
    }
    .movieResultImage , .showResultImage ,.searchResultImage{
        height: 20rem !important;
    }
    .showResultContainer .darkShowCover , .movieResultContainer .darkMovieCover, .searchResultContainer .darkSearchCover{
        height: 20rem !important;
    }
}