.containerMovie{
  background-color: var(--footer-bgc-black);
  height: auto;
  margin-bottom: 2rem;
}


@media only screen and (min-width:1280px){
  .containerMovie{
      min-height: 46.875vw;
  margin-bottom: -7.03125vw;
  }
}